 
h1 {
        font-family: cursive;
        font-size: 40px;
        
}
.content{  
        flex-grow:1;
        padding:0 var(--padding);
        padding-top:10rem;
        margin-left: 200px;
        font-size: larger;
}
    
 img{  
        height: 400px;
        width: 480px;
        margin-left: 250px;
        margin-top: 100px;
}
.tous {
    
    justify-content: space-between;
}

.btn{
    background-color:#FF5733;
  color:black;
    text-decoration:none;
   font-weight:bold;
   padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition:0,4S;
   justify-content: space-between;
   margin-left: 100px;
}